body {
    margin: 0;
}

.overlay-image .text {
    font-size: 32px;
    color: white;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.page-footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 30px;
}

.catimg{
    height: 400px;
    width: 400px;
}